# local, development, staging, production
APP_ENV=local

APP_PORT=4201
# APP_HOST=localhost
APP_HOST=gsp-users.local

POSTGRES_DB=gsp_users_postgres
POSTGRES_PORT=5440
POSTGRES_USER=postgres
POSTGRES_PASSWORD=gsp_users_postgres
POSTGRES_SSL_MODE=disable

REDIS_URL=
REDIS_PORT=
