# local, development, staging, production
APP_ENV=local

APP_PORT=4201
# APP_HOST=localhost
APP_HOST=gsp-users.local

POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSL_MODE=

REDIS_URL=
REDIS_PORT=
